<?xml version="1.0"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by
Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="mine"
    xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="is_ignition" default="true" />
    <xacro:arg name="is_sim" default="true" />
    <xacro:include filename="$(find lhd_description)/urdf/mine_gazebo.xacro" />
    <link name="mine_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="50" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lhd_description/meshes/mine_Y_fig.stl" scale="0.1 0.1 0.1"/>
            </geometry>
            <material name="">
                <color rgba="0.631 0.298 0 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://lhd_description/meshes/mine_Y_fig.stl" scale="0.1 0.1 0.1"/>
            </geometry>
        </collision>
        <collision name="collision_box_1">
            <origin xyz="25 0 0.49" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </collision>
        <collision name="collision_box_2">
            <origin xyz="-25 0 0.49" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </collision>
        <collision name="collision_box_3">
            <origin xyz="0 25 0.49" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </collision>
        <collision name="collision_box_4">
            <origin xyz="0 -25 0.49" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
        </collision>
    </link>
</robot>